@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-sm-size: 90px;
  --sidebar-size: 228px;
  --header-size: 64px;
  --eq-size: 90px;
  --eq-sm-size: 70px;
}

* {
  @apply duration-300;
}
